<div class="well col-md-9">
<h1 class="page-header">Want To Help ?</h1>
<h2 class="text-right text-info"> We would love to have you on board !</h2>
  <div class="well" markdown ng-include="'markdown-pages/contribute.md'">

</div>
  <div class="well">
    <h3>Wiki</h3>
  <p>
    Wiki (Confluence) for this Project is Available at
  <a href="https://cwiki.apache.org/confluence/display/CONCERTED/Apache+Concerted+Home">Concerted Confluence.</a>
  </p>
  </div>
  <div class="well">
    <h3>Mailing Lists</h3>
  <p>
    Most of the discussion happens on mailing lists so subscribe them to stay informed.
    <table class="table table-responsive table-condensed">
      <tr>
        <th>Name</th>
        <th>Mailing Address</th>
        <th>Archive</th>
      </tr>
      <tr>
        <td>Developer</td>
        <td>dev@concerted.incubator.apache.org</td>
        <td>http://mail-archives.apache.org/mod_mbox/incubator-concerted-dev</td>
      </tr>
      <tr>
        <td>Commits</td>
        <td>commits@concerted.incubator.apache.org</td>
        <td>http://mail-archives.apache.org/mod_mbox/incubator-concerted-commits</td>
      </tr>
      <tr>
        <td>Issues</td>
        <td>issues@concerted.incubator.apache.org</td>
        <td>http://mail-archives.apache.org/mod_mbox/incubator-concerted-issues</td>
      </tr>
    </table>
  </p>
  <p>To subscribe send an email at listname-subscribe@concerted.incubator.apache.org<br/>
     To unsubscribe send an email at listname-unsubscribe@concerted.incubator.apache.org<br/>
  </p>
  </div>
</div>

<div class="col-md-3">
  <div markdown ng-include="'markdown-pages/team.md'">
</div>
