
  <div class="jumbotron" ng-class="{min:boolChangeClass}" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
    <br/><h1 class="text-info text-center" ng-animate="{enter: 'animate-enter-accelerate', leave: 'animate-leave-accelerate'}">Your Apps ... Accelerated !</h1>
    <p class=" well lead">Apache Concerted is a Do-It-Yourself toolkit for building in-memory data engines.
      Concerted provides ability to query large data sets efficiently and in high concurrency while maintaining semantics such as immediate consistency.</p>
  </div>
<div class="card col-sm-12 col-md-3 ">
<div class="card-header">
  <span class="glyphicon glyphicon-screenshot" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"></span> Efficiency
</div>
<div class="card-block">
  <p class="card-text">
  Concerted aims to give expected performance under vast variety
   of workloads and aims to have as low footprint as possible.</p>
  <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
  <div class="card col-sm-12 col-md-3 col-md-offset-1">
  <div class="card-header" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
    <span class="glyphicon glyphicon-stats"></span> High Performance
  </div>
  <div class="card-block">
    <p class="card-text">To provide high performance access to data from a large number of rows,
       Concerted uses efficient representation and in memory indexing of data coupled with high performance transactions,
       custom transactions and lightweight locking and lockless techniques and an intelligent locking manager.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card col-sm-12 col-md-3 col-md-offset-1">
<div class="card-header" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
  <span class="glyphicon glyphicon-resize-full"></span> Scalability
</div>
<div class="card-block">
  <p class="card-text">Concerted is built with extreme concurrency and scalability in
     mind.So you don't have to worry if you move from thousand to million.</p>
  <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
<br/>
<br/>
<br/>
