<div class="col-md-9">
<div ng-repeat="post in postlist|orderBy: '+post.year'" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
<div class="well">
<div markdown class="well" ng-include="post.url">
</div>
<p class="text-info">{{post.year}}-{{post.month}}-{{post.date}}</p>
</div>
</div>
</div>
<div class="col-md-3">
<ul ng-repeat="(key,value) in archive" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
<li><a ng-href="#/{{folder}}/{{key}}">{{key}}</a><br/><ul><li ng-repeat="post in value|orderBy: '+post.month'"><a ng-href="#/pages/{{folder}}/{{key}}/{{post.month}}/{{post.date}}/{{post.title}}">{{post.title}}</a></li></ul></li>
</ul>
</div>
