<div class="well col-md-8" ng-init="loadreleases();loadcommits();">
    <div class="page-header">
        <h1 id="timeline">Release Timeline</h1>
    </div>
    <h3 class="text-info text-center" ng-if="releasedata.length==0">No releases yet.<br/>Stay Tuned !</h3>
    <ul class="timeline">
        <li ng-repeat="release in releasedata" class="timeline-inverted">
          <div ng-if="$odd" class="timeline-badge info"><i class="glyphicon glyphicon-tags"></i></div>
          <div ng-if="$even" class="timeline-badge warning"><i class="glyphicon glyphicon-paperclip"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" ng-bind="release.name"></h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>10 hrs ago</small></p>
            </div>
            <div class="timeline-body">
              <p><a ng-href=release.zipball_url><i class="glyphicon glyphicon-download-alt"></i>Download Zip </a><a ng-href=release.tarball_url><i class="glyphicon glyphicon-download-alt"></i>Download Tarball</a>
                <a ng-href="https://github.com/apache/incubator-concerted/commits/{{release.commit.sha}}"><i class="glyphicon glyphicon-info-sign"></i>Commit...</a>
              </p>
              <p ng-if="$odd" class="text-warning">
                <button><i class="glyphicon glyphicon-file"></i>Release Notes</button>
              </p>
            </div>
          </div>
        </div>
      </li>
      </ul>

</div>
<div class="col-md-4">
  <div class="page-header">
      <h1 id="timeline">Recent Commits</h1>
  </div>
  <ul class="timeline">
      <li ng-repeat="commit in commitdata" ng-animate="{enter: 'animate-enter'}">
        <div class="timeline-badge"><i class="glyphicon glyphicon-pushpin"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title oneline" ng-bind="commit.commit.message"></h5>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time">{{commit.commit.author.date}}</i></small></p>
          </div>
          <div class="timeline-body">
            <p><a ng-href=commit.commiter.html_url><img class="img-circle img-thumbnail" height=50 width=50 ng-src="{{commit.committer.avatar_url}}"> <span ng-bind="commit.commit.committer.name"></span></a>
              <a ng-href="https://github.com/apache/incubator-concerted/commits/{{commit.sha}}"><i class="glyphicon glyphicon-info-sign"></i>Commit...</a>
            </p>

          </div>
        </div>
      </div>
      </li>

    </ul>
</div>
